*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

header{
    position: sticky;
    top: 0px;
}

.accesosRapidos__imagen--img{
    height: 15rem;
    width: 22rem;
}

.sectionIndex{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;    
    background-image: url(../img/fondoindex.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    &__excursionTitulo{
        background-color: rgba(255, 255, 255, 0.493);
        margin-top: 3rem;
    }

    &__excursionParrafo{
        background-color: rgba(255, 255, 255, 0.61);
        margin-top: 3rem;
    }

    &__excursionPreguntas{
        margin-top: 3rem;
    }

    &__boton{
        margin-top: 1rem;
        margin-bottom: 1rem;

    &--btn{
        background: rgb(0,0,0);
        background: -moz-linear-gradient(87deg, rgba(0,0,0,1) 8%, rgba(155,34,195,1) 52%, rgba(0,0,0,1) 93%);
        background: -webkit-linear-gradient(87deg, rgba(0,0,0,1) 8%, rgba(155,34,195,1) 52%, rgba(0,0,0,1) 93%);
        background: linear-gradient(87deg, rgba(0,0,0,1) 8%, rgba(155,34,195,1) 52%, rgba(0,0,0,1) 93%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
        color: white;
        padding: 0.5rem;

}

    }
}

.accesosRapidos{
    background-color: rgba(95, 157, 245, 0.557);
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;

    &__uno{
        margin-top: 2rem ;
    }


}

/**ejemplo map-get, mixin y extend**/

$accesosRapidos:(
    color: rgb(76, 76, 76),
    fondo: rgba(255, 255, 255, 0.306),
    fuente: 1rem,
    distancia: 1rem
);

.accesosRapidos__titulo--h1{
    background-color: map-get($accesosRapidos, fondo);
    color: map-get($accesosRapidos, color);
}

.accesosRapidos__parrafo--p{
    @extend .accesosRapidos__titulo--h1;
    margin-top: map-get($accesosRapidos, distancia);
}

@mixin ancho-alto{
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0.3rem;
}

.accesosRapidos__parrafo--p{
    @include ancho-alto;
}

@media screen and (max-width: 380px) {

.sectionIndex{

    &__excursionTitulo--h1{
        font-size: 2rem;
        text-align: center;
    }

    &__excursionParrafo--p{
        font-size: 1.2rem;
    }
}

}

.accesosRapidos{
    padding-left: 5rem;
    padding-right: 5rem;
}

@media screen and (min-width: 375px) {

    
    .accesosRapidos{
        padding-left: 7.5rem;
        padding-right: 7.5rem;
    }
    
}

@media screen and (min-width: 425px) {

    .sectionIndex{
    
    &__excursionTitulo--h1{
        font-size: 2.6rem;
    }
    
    &__excursionParrafo--p{
        font-size: 1.5rem;
    }
}
    .accesosRapidos{
        padding-left: 10.1rem;
        padding-right: 10.1rem;
    }
    
}



@media screen and (min-width: 768px) {

    .sectionIndex{

        &__excursionTitulo{
            width: 85%;
        }        

        &__excursionTitulo--h1{
            font-size: 3.5rem;
            text-align: center;
        }
    
        &__excursionParrafo{
            width: 75%;
        }

        &__excursionParrafo--p{
            font-size: 2rem;
        }
    
    
    }    
    

    .accesosRapidos{

        display: flex;
        justify-content: center;
        align-items: center;

    &__imagen--img{
        height: 25rem;
        width: 32rem;
    }
        
    &__uno{
        @extend .accesosRapidos__dos  
        
    }

    &__dos{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 60%;
    }

    &__tres{
        @extend .accesosRapidos__dos
    }


    &__parrafo{
        width: 100%;
    
    }

    }

  

}


@media screen and (min-width: 1024px){


    .accesosRapidos {
       
        padding: 0%;
        padding-left: 0.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: #F9F4F5;
    
    
    &__uno{
        width: 100%;
        background-color:rgb(183, 204, 244);
        padding: 1rem;
        margin-top: 0.5rem;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
    }
    
    &__dos{
        background-color:rgb(183, 204, 244);
        padding: 1rem;
        width: 100%;
        height: auto;
        margin-top: 0.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
    }
    
    
    &__tres{
        background-color:rgb(183, 204, 244);
        padding: 1rem;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 0.5rem;    
    }
    
    &__titulo--h1{
        font-size: 1.5rem;
    }
    
    &__parrafo--p{
        font-size: 1.3rem;
    }
    
    &__imagen--img{
        width: 15rem;  
        height: 15rem;
        box-shadow: 1rem 0.0rem 1rem 0rem rgba(0, 0, 0, 0.422);
    }
    
    &__imagen--img:hover {
        -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
                animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    }
    
      @keyframes scale-up-center {
        0% {
          -webkit-transform: scale(1);
                  transform: scale(1);
        }
        100% {
          -webkit-transform: scale(1.2);
                  transform: scale(1.2);
        }
      }



}



}