*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

header{
    position: sticky;
    top: 0px;
}

@import "./variables";
@import "./nav";
@import "./_section";
@import "./footer";
